@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

/* Fonts */
$font-family: 'Titillium Web';

/* Measures */
$container_width: 1200px;

/* Colors */
$bgcolor: black;
$primary-color: #00F9CF;
$secondary-color: #fff;
$hvcolor: #333;