@import "./Assets/scss/vars.scss";
@import "./Assets/scss/mixins.scss";

* {
  font-family: $font-family;
}

body {
  background-color: $bgcolor
}

.pageContainer {
  @include reset;
  @include container;
}

header {
  padding-top: 40px;
  position: sticky;
  height: 20vh;

  .nav_with_logo {
    width: fit-content;
    position: absolute;
    left: 5%;

    @media (width < 1199px) {
      display: none;
    }
  
  }


  .nav_inner_wrapper {
    @include border;
    position: absolute;
    height: 57px;
    width: 700px;
    border: 2px solid white;
    border-left: none;
    border-radius: 0 5px 5px 0;
    left: 250px;
    top: 36px;
    text-align: right;

    a {
      @include reset;
      display: inline-block;
      margin: 15px 35px 15px 0px;
      bottom: 0;
      text-decoration: none;
      color: $secondary-color;
    }
  }
}

