@import "../../../Assets/scss/vars.scss";
@import "../../../Assets/scss/mixins.scss";

.burgerMenu {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 40px;

    @media (width > 1199px) {
        display: none;
    }

    .burgerMenuLine {
        position: absolute;
        width: 100%;
        height: 12%;
        background-color: white;
        transition: .2s ease-in-out;

        &:first-child {
            top: 0;
            left: 0;
        }

        &:nth-child(2) {
            top: 50%;
            left: 0;
            transform: translateY(-50%)
        }

        &:last-child {
            top: 90%;
            left: 0;
        }
    }
}

.burgerMenuActive {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 40px;

    .burgerMenuLine {
        position: absolute;
        width: 100%;
        height: 12%;
        background-color: white;
        transition: .2s ease-in-out;

        &:first-child {
            top: 50%;
            left: 0;
            transform: translateY(-50%) rotate(45deg);
        }

        &:nth-child(2) {
            top: 50%;
            left: 0;
            transform: translateY(-50%) rotate(45deg);
        }

        &:last-child {
            top: 50%;
            left: 0;
            transform: translateY(-50%) rotate(-45deg);
        }
        
    }
}

.menu {
    display: none;
}

.activeMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    top: 5vh;
    width: 100%;
    padding: 0 0 30px 40px;
    background-color: #111;
    
    .navigationLinks {
        text-decoration: none;
        color: $primary-color;
        font-size: 1em;
    }
}